* {box-sizing: border-box}

/* Add padding to containers */


/* Full-width input fields */
input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 30px 0;
  display: inline-block;
  border: 2px solid rgb(135, 128, 128);
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

.disabled{
  cursor: not-allowed;
}

/* Overwrite default styles of hr */
hr {
  border: 2px solid #f1f1f1;
  margin: 10px auto;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registerbtn:hover {
    background-color: rgb(31, 31, 179);
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  margin: 15px auto;
  text-align: center;
}